
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "FileDescription", "{{project_display_name}}"
		VALUE "InternalName", "{{project_name}}.exe"
		VALUE "OriginalFilename", "{{project_name}}.exe"
		VALUE "CompanyName", "{{project_company_name}}"
		VALUE "LegalCopyright", "{{project_company_name}} - Copyright (C) {{project_copyright_year}}"
		VALUE "ProductName", "{{project_display_name}}"
		VALUE "FileVersion", "{{project_version}}"
		VALUE "ProductVersion", "{{project_version}}"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}
